<!-- <section class="gallery">

  <div class="container">

    <div class="img-container">
      <img src="../assets/images/1.jpg" alt="img"/>

      <div class="img-preview">

        <div class="img-slide">
          <img src="../assets/images/1.jpg" alt="img1"/>
        </div>
        <div class="img-slide">
          <img src="../assets/images/2.jpg" alt="img2"/>
        </div>
        <div class="img-slide">
          <img src="../assets/images/3.jpg" alt="img3"/>
        </div>

      </div>

    </div>
  </div>

</section> -->

<!-- MAIN IMAGE (= selected) -->
<img src="{{path}}" />
